.login-page {
  display: flex;
  height: 100vh;
  background-color: #f6f7fc;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__left {
    width: 35%;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: 200px;
    }

    .login-page__bg-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7fc;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__form-block {
    background: white;
    padding: 40px;
    max-width: 400px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;

    @media (max-width: 768px) {
      padding: 25px;
    }

    h3 {
      text-align: center;
      margin-bottom: 3rem;
      color: #26292a;
    }

    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    label {
      display: block;
      margin-bottom: 0.3rem;
      font-size: 1rem;
      color: #495057;
    }

    .form-control {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 54px;
      background: #efefef;
      font-size: 1rem;
      transition: border 0.3s ease;
      margin-bottom: 15px;
      background-color: #ededed;

      &:focus {
        background-color: #efefef;
        border: 1px solid #e8450e;
        box-shadow: 0px 0px 1px 2px rgba(226, 80, 6, 0.2);
        outline: none;
      }
    }

    .error-text {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 1.5rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .btn-primary {
      flex: 1;
      height: 54px;
      padding: 0 1.5rem;
      background-color: #e8450e;
      color: white;
      border: none;
      border-radius: 4px;
      font-weight: 500;
      transition: background-color 0.15s ease;

      &:hover {
        background-color: #cf3a0c;
        border-color: #cf3a0c;
      }
    }

    .btn-outline-secondary {
      flex: 1;
      height: 54px;
      padding: 0 1.5rem;
      background: transparent;
      border: 1px solid #ced4da;
      color: #495057;
      border-radius: 4px;
      font-weight: 500;
      transition: background-color 0.15s ease;

      &:hover {
        background-color: #f8f9fa;
        border-color: #b3b3b3;
      }
    }

    .forgot-pass {
      display: block;
      text-align: center;
      margin-top: 1rem;
      font-size: 0.875rem;
      color: #888;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #e8450e;
      }
    }
  }
}
