.registration-page {
  display: flex;
  height: 100vh;
  background-color: #f6f7fc;

  @media (max-width: 768px) { flex-direction: column; }

  &__left {
    width: 35%;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: 200px;
    }

    .registration-page__bg-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7fc;

    @media (max-width: 768px) { width: 100%; }
  }
}
